* {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
}

.contenedor-ubicacion {}

#ciudad {
    text-align: center;
}

.contenedor {
    font-size: 20px;
    width: 800px;
    margin: auto;
    
}

#actualClima {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.23);
}

img {
    width: 15%;
}

.contenedorFecha {
    display: flex;
    grid-column: span 3;
    justify-content: center;
}

#fecha {
    margin: 10px
}

.contenedorTemperatura {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#temperatura {
}

.contenedorIcono {}

#icono {
}

.contenedorPronostico {
    display: flex;
    grid-column: span 3;
    justify-content: center;
}

#pronostico {
    margin: 10px
}

.contenedorHumedad {
    text-align: center;
    font-size: 14px;
}

.contenedorPrecipitacion {
    text-align: center;
    font-size: 14px;
}

.contenedorViento {
    text-align: center;
    font-size: 14px;
}

#info {}