* {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
}

.contenedor-ubicacion {}

#ciudad {
    text-align: center;
}

.contenedor {
    width: 800px;
    margin: auto;
}

#actualClima {
    background: #f8f9fa;
    font-size: 20px;
    margin-top: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 3px 3px 10px #E3E3E3;
}

img {
    width: 30%;
}

.contenedorFecha {
    display: flex;
    grid-column: span 3;
    justify-content: center;
}

#fecha {
    margin: 10px
}

.contenedorTempIcono {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#temperatura {}

#icono {}

.contenedorPronostico {
    display: flex;
    grid-column: span 3;
    justify-content: center;
}

#pronostico {
    margin: 10px
}

.contenedorHumedad {
    text-align: center;
    font-size: 14px;
}

.contenedorPrecipitacion {
    text-align: center;
    font-size: 14px;
}

.contenedorViento {
    text-align: center;
    font-size: 14px;
}

#info {}