* {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
}

.contenedor-ubicacion {}

#ciudad {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.contenedor {
    width: 600px;
    margin: auto;
}

#actualClima {
    font-size: 20px;
    margin-top: 10px;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 3px 3px 10px #E3E3E3;
}

.contenedorFecha {
    display: flex;
    justify-content: center;
}

#fecha {
    margin: 10px
}

.contenedorTempIcono {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#temperatura {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
}

#icono {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#icono>img {
    width: 30%;
}

.contenedorPronostico {
    display: flex;
    justify-content: center;
}

#pronostico {
    margin: 10px
}

.contenedorMinMax {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#minMax {
    font-size: 14px;
    color: #adb5bd;
}

.contenedorInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #f1f3f5;
}

.contenedorHumedad {
    /* background: #e7f5ff; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.contenedorPrecipitacion {
    /* background: #e3fafc; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.contenedorViento {
    /* background: #e6fcf5; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#info {}